.form-row {
  margin-bottom: 1rem;
}

.word-break {
  word-break: break-all;
}

.dropdown-item:hover {
  cursor: pointer;
  background-color: lightskyblue;
}

.center-vertical {
  display: flex;
  align-items: center;
}
