table {
    width: 100%;
  }

  th {
    font-size: 11pt;
    /* text-align: center; */
    background-color: rgb(190,190,190);
  }

  td {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  .add-button, .submit-button, .election-button, .refresh-button, .verify-button{
    background: rgba(30, 30, 30, 0.9);
    font-family:Impact;
  }