.app-name {
    margin: 0 auto;
    text-align: center;
}


.main2 {
    width: 100%;
    height: 100%;
    max-width: 1366px;
    max-height: 768px;
    /* background-color: #E5E5E5; */
    text-align: center;

}