.main2 {
    width: 100%;
    height: 100%;
    max-width: 1366px;
    max-height: 768px;
    /* background-color: #E5E5E5; */
    text-align: center;

}

 .h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height, or 125% */

    text-align: center;
    letter-spacing: -0.28px;

    /* Black/High */ 

    color: #212121;
}

.p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);

}

.signupbox {
    width: 450px;
    height: 370px;  
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(11, 24, 49, 0.4);
    border-radius: 8px;
    margin: auto ;
    margin-bottom: 15px;
}

.h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -1px;
    color: #212121;
}

.mat-form-field {
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(11, 24, 49, 0.08);
    border-radius: 8px;
}