footer{
    font-family: 'Cutive Mono', monospace;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 4;
    background-image: linear-gradient(to right bottom, #ecec7f, #ffca74, #ffa986, #ff90a6, #ee86c7, #df88ce, #d089d3, #bf8bd6, #d58fcd, #e694c3, #f29cbb, #f9a6b5);
}

footer .div{
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, .5);
    padding: 2rem;
}

footer h3{
    font-weight: 300;
    color: white;
}

footer h3 a{
    text-decoration: underline;
    color: rgb(117, 255, 67);
}