<div class="row">
	<div class="col-12">
		<!-- Kick start -->
		<div id="kick-start" class="card">
			<div class="card-header">
				<h4 class="card-title">Kick start your project development !</h4>
			</div>
			<div class="card-body">
				<div class="card-block">
					<div class="card-text">
						<p>Getting start with your project custom requirements using a ready template which is quite difficult and time taking
							process, Apex Admin provides useful features to kick start your project development with no efforts !</p>
						<p><span class="text-bold-600 mt-2">Newcomer</span></p>
						<p>If you're new to Angular you may feel overwhelmed by the quantity of new concepts to apprehend, so before digging in
							this project you may want to start with <a href="https://angular.io/tutorial">this progressive tutorial</a> that will guide you
							step by step into building a complete Angular application.</p>
						<p><span class="text-bold-600 mt-2">AngularJS veteran</span></p>
						<p>If you come from AngularJS and want to dig straight in the new version, you may want to take a look at the <a href="https://angular.io/guide/ajs-quick-reference">AngularJS
							vs 4 quick reference</a> </p>
						<p><span class="text-bold-600 mt-2">Cheatsheet</span></p>
						<p>Until you know the full Angular API by heart, you may want to keep this <a href="https://angular.io/guide/cheatsheet">cheatsheet</a> 
							that resumes the syntax and features on a single page at hand.</p>
						<p><span class="text-bold-600 mt-2">Style guide</span></p>
						<p>This project follows the standard <a href="https://angular.io/styleguide">Angular style guide</a>.</p>
						<p>More that just coding rules, this style guide also gives advices and best practices for a good application architecture
							and is an **essential reading** for starters. Reading deeper, you can even find many explanations for some design
							choices of the framework.</p>
						<p><span class="text-bold-600 mt-2">Going deeper</span></p>
						<p>Even though they are not mandatory, Angular was designed for the use of design patterns you may not be accustomed to,
							like reactive programming, unidirectional data flow and centralized	state management.</p>
						<p>These concepts are difficult to resume in a few words, and despite being tightly related to each other they concern
							specific parts of an application flow, each being quite deep to learn on its own.</p>
						<p>You will essentially find here a list of good starting points to learn more on these subjects.</p>
					</div>
				</div>
			</div>
		</div>
		<!--/ Kick start -->
	</div>
</div>
<div class="row">
	<div class="col-12">
		<!-- Simple Card-->
		<div id="simple-card" class="card">
			<div class="card-header">
				<h4 class="card-title">Simple Card</h4>
			</div>
			<div class="card-body">
				<div class="card-block">
					<div class="card-text">
						<h5>HTML Ipsum Presents</h5>
						<p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum
							tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em>							Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum
							sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum
							rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>
						<h6>Header Level 2</h6>

						<ol>
							<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
							<li>Aliquam tincidunt mauris eu risus.</li>
						</ol>

						<blockquote>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est
								eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus,
								at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p>
						</blockquote>

						<h3>Header Level 3</h3>

						<ul>
							<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
							<li>Aliquam tincidunt mauris eu risus.</li>
						</ul>

						<dl>
							<dt>Definition list</dt>
							<dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
								veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</dd>
							<dt>Lorem ipsum dolor sit amet</dt>
							<dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
								veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
		<!--/ Simple Card-->
	</div>
</div>