<html>
  <head>
    <link rel="stylesheet" href="crypton.component.css">
  </head>
  <body>
      <div style="background: linear-gradient(180deg, #35BD9F -45.96%, rgba(53, 189, 159, 0) 10%);">

          <div style="height: 30px"></div>
          <img style="width: 70px; height: 86px;" src="./Group 49.png">
        
          <div style="height: 20px"></div>
        
          <h4 style="font-family: 'Inter';
            font-style: normal;
            font-weight: bold;
            font-size: 34px;
            line-height: 40px;
            text-align: center;
            letter-spacing: -1px;
            color: #212121;">
            Experience the seamless Crypto interactions.
          </h4>
        
          <div style="height: 20px"></div>
        
          <div class="container">
            <div class="row">
              <div class="col-6">
                <div class="signupbox">
                  <div style="height: 30px"></div>
                  <img style="width: 70.4px; height: 36px;" src="./send.png">
        
                  <div style="height: 20px"></div>
                  <h4 style="font-family: 'Inter';
                    font-style: normal;
                    font-weight: bold;
                    font-size: 34px;
                    line-height: 40px;
                    text-align: center;
                    letter-spacing: -1px;
                    color: #212121;">
                    Send Money
                  </h4>
                  <div style="height: 20px"></div>
                  <div style="font-size: 12px;">
                    <mat-form-field appearance="outline" style="width: 60%; height: 60; margin-bottom: -1.25em;">
                      <mat-label>Sender's Address</mat-label>
                      <input matInput #input>
                    </mat-form-field>
                  </div>
                  <div style="height: 5px"></div>
                  <div style="font-size: 12px;">
                    <mat-form-field appearance="outline" style="width: 60%; height: 60; margin-bottom: -1.25em;">
                      <mat-label>Amount (ETH)</mat-label>
                      <input matInput #input>
                    </mat-form-field>
                  </div>
                  <div style="height: 15px"></div>
        
                  <button mat-raised-button style="background-color: #35BD9F; width: 60%; color: white">Send</button>
                  <div style="height: 15px"></div>
        
                </div>
              </div>
              <div class="col-6">
                <div class="signupbox">
                  <div style="height: 30px"></div>
                  <img style="width: 56px; height: 56px;" src="./Group 55.png">
        
                  <div style="height: 20px"></div>
                  <h4 style="font-family: 'Inter';
                    font-style: normal;
                    font-weight: bold;
                    font-size: 34px;
                    line-height: 40px;
                    text-align: center;
                    letter-spacing: -1px;
                    color: #212121;">
                    Contract Function
                  </h4>
                  <div style="height: 20px"></div>
                  <div style="font-size: 12px;">
                    <mat-form-field appearance="outline" style="width: 30%; height: 60; margin-bottom: -1.25em; padding: 2px">
                      <mat-label>Value</mat-label>
                      <input matInput #input>
                    </mat-form-field>
                    <mat-form-field appearance="outline" style="width: 30%; height: 60; margin-bottom: -1.25em; padding: 2px">
                      <!-- <mat-label></mat-label> -->
                      <input matInput #input disabled>
                    </mat-form-field>
                  </div>
                  <div style="height: 5px"></div>
        
                  <button mat-raised-button style="background-color: #35BD9F; width: 30%; color: white; margin: 2px">Setter</button>
                  <button mat-raised-button style="background-color: #35BD9F; width: 30%; color: white; margin: 2px">Getter</button>
        
                  <div style="height: 15px"></div>
        
                </div>
              </div>
            </div>
          </div>
        </div>
  </body>
</html>
