<div class="row" matchHeight="card">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="card-block">
          <h3>Instruction</h3>
          <ol>
            <li>Ensure that you have a token in the account. If you don't have on this demo, claiming is available on the top of screen.</li>
            <li>Add a drug task to the ecosytem, you will need to deposit some amount of token into an escrow contract.</li>
            <li>Switch the account on metamask, pick the task and put the drug efficacy in the form on the item detail page.</li>
            <li>Drug owner need to validate the result one by one. Then can click award button on the screen.</li>
            <li>Reward will be released from a smart contract to the best team.</li>
          </ol>
          
        </div>
      </div>
    </div>
  </div>
</div>
