[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
flask = "*"
flask-cors = "*"
flake8 = "*"
isort = "*"
requests = {version = "*",extras = ["security"]}

[requires]
python_version = "3.7"
