/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

.header {
    font-weight: bold;
    /* background-color: #673ab7; */
    background-color: rgba(30, 30, 30, 0.8);
    color: antiquewhite;
    font-size: 30px;
    line-height: normal;
    font-family:Impact;
    padding:10px;
    border-radius: 5px;
  }

  .form {
    text-align: center;
  }
  
  .small_header {
    background-color: rgba(30, 30, 30, 0.8);
    padding:10px;
    color: antiquewhite;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    line-height: normal;
    font-family: Impact;
  }

  .lhs_text {
    font-weight: bold;
    font-size: 18px;
    line-height: normal;
    font-family: sans-serif;
    margin-left: 10pt;
  }

  .add-button, .submit-button, .election-button, .refresh-button, .verify-button{
    background: rgba(30, 30, 30, 0.9);
    font-family:Impact;
  }

  .normal-button{
    background: rgba(30, 30, 30, 0.9);
    font-family:Impact;
  }
  .app-header {
    font-size: 50px;
    font-weight: 700;
    line-height: normal;
    font-family: Impact;
    font-weight: bold;
  }  

  .basic-text {
    font-size: 14px;
    line-height: normal;
    font-family: sans-serif;
  }

  p {
    font-size: 18px;
    line-height: normal;
    font-family: sans-serif;
  }

  .app_heading {
      padding: 10px;
      background-color:  rgba(30, 30, 30, 0.8);
      color: white;
      border-radius: 5px;
  }

  .home_button {
    background-color:white;
    padding: 0px;
    font-size: 18px;
    font-family:Impact;
  }

  .card {
    background: rgba(255,255,255, 0.6);
   
  }

  .add-button, .submit-button, .election-button, .refresh-button, .verify-button{
    background: rgba(30, 30, 30, 0.9);
    font-family:Impact;
  }

  /* span {
      margin:10px;
      font-size: 16px;
      line-height: normal;
      font-family: sans-serif;
  } */

  table {
    width: 100%;
  }

  body{
    width: 100%;
    height: 100%;
    max-width: 1366px;
    max-height: 768px;
    /* background-image: "./assets/elections.jpg"; */
    /* background-repeat: no-repeat;
    background-size: 110%;
    background-position: center; */

  }
  
  