@import '../../style/mixins.scss';
@import '../../style/functions.scss';

.dapp {
  width: 100%;
  height: 100%;
  .not-connected {
    @include flex(column, center, center, toRem(30));
    .not-connected-title {
      @include typography(GilroySemiBold, toRem(48), 130%, var(--black));
    }
  }
  .does-not-exist {
    width: 100%;
    height: 100%;
    @include flex(column, center, center, toRem(15));
    &-title {
      @include typography(GilroySemiBold, toRem(48), 130%, var(--black));
    }
    &-desc {
      max-width: toRem(600);
      @include typography(GilroyRegular, toRem(16), toRem(24), var(--light-text));
    }
  }
}
