*.swp
*.swo
*.beam
dist_js
sidekick_dist
docs
examples/examples_dist_js
www_tree
prose
*.hi
*.o
sidekick_mindist
sidekick_fulldist
dist
jx_mindist
*jx_include*
jex_mindist
src/jex_include
erl_crash.dump
