:root {
  --primary: #001d6e;
  --black: #3d3d3d;
  --white: #f8f8f5;
  --light-text: #6b6f76;
  --footer-border: #d1d3d4;
  --wallet-button-dropdown: #c6cddf;
  --full-white: #ffffff;
  --modal-backdrop: #00000080;
  
  --box-shadow-color: rgba(0, 0, 0, 0.32);
}
