.Login-modal{
    z-index: 1000;
    color: #606c76;
    background-color: white;
    border: 1px solid #9b4dca;
    border-radius: 3px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 600px;
    position: absolute;
}