

<div class="row" matchHeight="card">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Version 4.1</h4>
			</div>
			<div class="card-body">
				<div class="card-block">
					<h5 class="my-2">02-22-2018 [4.1]</h5>
					<h3>Added</h3>
					<ol>
						<li>HTML Front-end Landing Page</li>
						<li>Top fix navbar option (Demo Available)/li>
						<li>HTML template - All 5 Demos now available in downloadable</li>
					</ol>
					<h3>Updated</h3>
					<ol>
						<li>Angular, NgRx, NG-bootstrap and other Packages updated to latest version.</li>
						<li>Horizontal timeline page now fully converted to typescript version.</li>
						<li>Chat and Inbox page responsive design</li>
						<li>Documentation</li>
					</ol>
					<h3>Fixed</h3>
					<ol>
						<li>User Profile page responsive issue.</li>
						<li>IE 11 issue.</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row" matchHeight="card">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Version 4.0</h4>
			</div>
			<div class="card-body">
				<div class="card-block">
					<h5 class="my-2">01-26-2018 [4.0]</h5>
					<h3>Added</h3>
					<ol>
						<li>Chat NgRx page in Angular template</li>
						<li>Taskboard NgRx page in Angular template</li>
						<li>Tags input page in angular and html template</li>
						<li>Switch page in angular and html template</li>
					</ol>
					<h3>Updated</h3>
					<ol>
						<li>Angular Template and Starter kit Template Angular version updated to latest versiom (5.2.1)</li>
						<li>Bootstrap updated to latest version (Bootstrap 4 Stable) in Angular Template and Starter kit Template and HTML template</li>
						<li>Sweet alert package updated to latest version.</li>
						<li>NG-Bootstrap package updated to latest version.</li>
						<li>NG-Bootstrap Components</li>
						<li>Documentation</li>
					</ol>
					<h3>Fixed</h3>
					<ol>
						<li>Taskboard page minor bug in Angular template</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row" matchHeight ="card">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Version 3.1</h4>
			</div>
			<div class="card-body">
				<div class="card-block">
					<h5 class="my-2">12-26-2017 [3.1]</h5>
					<h3>Added</h3>
					<ol>
						<li>Recent Activity, Chat and Settings Sidebar tabbed panel For Angular and HTML Templates</li>
						<li>Image Cropper page For Angular and HTML Templates</li>
					</ol>
					<h3>Updated</h3>
					<ol>
						<li>Packages for Angular Template and Starter kit Template updated to latest version</li>
						<li>Documentation</li>
					</ol>
					<h3>Fixed</h3>
					<ol>
						<li>IOS scrolling issue</li>
						<li>Menu issue on small screen in starter kit.</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row" matchHeight ="card">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Version 3.0</h4>
			</div>
			<div class="card-body">
				<div class="card-block">
					<h5 class="my-2">12-03-2017 [3.0]</h5>
					<h3>Added</h3>
					<ol>
						<li>HTML(non-angular) Version</li>						
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row" matchHeight ="card">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Version 2.1</h4>
			</div>
			<div class="card-body">
				<div class="card-block">
					<h5 class="my-2">11-21-2017 [2.1]</h5>
					<h3>Added</h3>
					<ol>
						<li>Search Page</li>
						<li>FAQ Page</li>
						<li>Knowledge Base Page</li>
						<li>Internationalization (i18n) Support</li>
						<li>Authentication Service</li>
					</ol>
					<h3>Updated</h3>
					<ol>
						<li>Angular Version (5.0.2)</li>
						<li>starter kit</li>
						<li>Documentation</li>
						<li>Calendar</li>
						<li>Inbox</li>
						<li>Chat</li>
						<li>NGX Datatable</li>
						<li>NGX Charts</li>
					</ol>
					<h3>Fixed</h3>
					<ol>
						<li>Minor Bugs</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row" matchHeight ="card">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Version 2.0</h4>
			</div>
			<div class="card-body">
				<div class="card-block">
					<h5 class="my-2">11-10-2017 [2.0]</h5>
					<h3>Added</h3>
					<ol>
						<li>Taskboard</li>
						<li>Audio Player</li>
						<li>Video Player</li>
						<li>Chat - Audio & Video</li>
						<li>Drag n Drop</li>
						<li>Tour</li>
					</ol>
					<h3>Updated</h3>
					<ol>
						<li>Updated to Angular 5+</li>
						<li>Updated starter kit to Angular 5+</li>
						<li>Documentation</li>
						<li>Calendar</li>
						<li>Sweet Alert</li>
						<li>Data Tables</li>
						<li>Quill Editor</li>
					</ol>
					<h3>Fixed</h3>
					<ol>
						<li>Minor Bugs & design flaws</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row" matchHeight ="card">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Version 1.0</h4>
			</div>
			<div class="card-body">
				<div class="card-block">
					<ol>
						<li>Initial Release</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>