$background-color: #11142b;
$text-color: #f8f9fa;
$color0: #171a49;
$color1: #4e529a;
$color2: rgba(48, 42, 156, 0.3);
$defaultElementWidht: 400px;

.AlertContainer {
    position: absolute;
    text-align: center;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 20px;
    width: 500px !important;
    border-radius: 5px;
}

.error {
    background-color: rgba(235, 60, 60, 0.864);
}

.success {
    background-color: rgba(60, 235, 60, 0.864);
}

.Button0 {
    color: $text-color;
    background-color: $color1;
    text-align: center;
    width: $defaultElementWidht;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    &:hover {
        cursor: pointer;
        // opacity: 0.5;
    }
}

.Input0 {
    margin: 5px;
    background-color: $color2;
    color: $text-color;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid $color1;
    width: $defaultElementWidht;
    height: 30px;
    font-size: 20px;
}

.Container0 {
    display: flex;
    justify-content: space-between;
}

.SpinnerContainer {
    position: absolute;
    text-align: center;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 500px !important;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(23, 26, 73, 1);
    height: 150px;
    .Message {
        position: absolute;
        transform: translate(-50%, 0);
        left: 50%;
        width: 400px;
    }
    .Spinner {
        display: inline-block;
        position: absolute;
        transform: translate(-50%, 0);
        top: 50px;
        left: 50%;
        width: 80px;
        height: 80px;
    }
    .Spinner div {
        box-sizing: border-box;
        display: block;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid $color0;
        border-radius: 50%;
        animation: Spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: $color0 transparent transparent transparent;
    }
    .Spinner div:nth-child(1) {
        animation-delay: -0.45s;
    }
    .Spinner div:nth-child(2) {
        animation-delay: -0.3s;
    }
    .Spinner div:nth-child(3) {
        animation-delay: -0.15s;
    }
    @keyframes Spinner {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

.Button1 {
    color: $color1;
    border: 1px solid $color0;
    padding: 10px 15px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    &:hover {
        background-color: $color0;
        cursor: pointer;
    }
}

a {
    color: white;
}
.GreenButton {
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    margin: auto 0;
    padding: 5px;
    border: 1px solid rgba(60, 235, 60, 0.864);
    color: rgba(60, 235, 60, 0.864);
}
