MUMBAI_RPC_URL="https://polygon-mumbai.g.alchemy.com/v2/ExampleKey"
SEPOLIA_RPC_URL="https://sepolia.infura.io/v3/ExampleKey"
PRIVATE_KEY="EVM wallet private key (Example: 6c0d*********************************************ac8da9)"
COINMARKETCAP_API_KEY="CoinMarketCap API key (Get a free one: https://coinmarketcap.com/api/)"
ETHERSCAN_API_KEY="ETHERSCAN API key (Get a free one: https://etherscan.io/)"
POLYGONSCAN_API_KEY="POLYGONSCAN API key (Get a free one: https://polygonscan.com/)"

OPEN_WEATHER_API_KEY="Open weather API key (Get a free one: https://openweathermap.org/)"
WORLD_WEATHER_ONLINE_API_KEY="World Weather API key (Get a free one: https://www.worldweatheronline.com/weather-api/)"
AMBEE_DATA_API_KEY="ambee data API key (Get a free one: https://api-dashboard.getambee.com/)"
CLIENT_ADDR="CLIENT ADDR"