.App {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dymension-connect-iframe {
    position: absolute;
    border: none;
    outline: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
